/* Button Component */
.custom-button__group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-button__group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-button {
  position: relative;
  overflow: hidden;
  font-size: var(--theme-button-font-size);
  letter-spacing: var(--theme-button-letter-spacing);
  font-weight: var(--theme-button-font-weight);
  height: var(--theme-button-height);
  padding: 0 16px 0 16px;
  border: none;
  border-radius: var(--theme-border-radius);
}

.custom-button:disabled {
  cursor: default;
  pointer-events: none;
}

.custom-button.unelevated:not(:disabled) {
  color: var(--theme-on-primary);
  background-color: var(--theme-primary);
}

.custom-button.unelevated:not(:disabled).secondary {
  /* ".primary" color is default */
  color: var(--theme-on-secondary);
  background-color: var(--theme-secondary);
}

.custom-button.unelevated:disabled {
  color: var(--theme-disabled-label-color);
  background-color: var(--theme-disabled-label-background);
}

.custom-button.outlined:not(:disabled) {
  color: var(--theme-primary);
  background-color: transparent;
  border: 1px solid var(--theme-border-color);
}

.custom-button.outlined:not(:disabled).secondary {
  /* ".primary" color is default */
  color: var(--theme-secondary);
  background-color: transparent;
  border: 1px solid var(--theme-border-color);
}

.custom-button.outlined:disabled {
  color: var(--theme-disabled-label-color);
  background-color: transparent;
  border-color: var(--theme-disabled-label-background);
  border: 1px solid var(--theme-border-color);
}

/* List Component */
.custom-list {
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  line-height: 1.5rem;
}
