.custom-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  position: relative;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.custom-icon-button.disabled {
  color: var(--theme-color--disabled);
}
