.custom-list {
  position: relative;
  width: 100%;
  max-height: 100%;

  list-style-type: none;
  padding: 0;
  margin: 0;

  overflow: auto;
  scroll-behavior: smooth;
}

.custom-list-item {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  overflow: hidden;
}

.custom-list:not(.checklist) .custom-list-item.checked:not(.disabled) {
  background-color: var(--theme-list-item-primary);
}

.custom-list-item.disabled {
  color: var(--theme-color--disabled);
}

.custom-list-item > .custom-list-item__meta:first-child {
  /* TODO: left meta */
}

.custom-list-item > .custom-list-item__meta:last-child {
  /* TODO: right meta */
}

.custom-list-item__text {
  height: 100%;
  padding: 8px;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.custom-list-item__primary-text {
  font-size: 1em;
  font-weight: 400;
  font-family: FiraCode;
}

.custom-list-item__secondary-text {
  font-size: 0.85em;
  font-weight: 400;
}

.custom-list-item__meta {
  /* NOTE: first child and last child (*__meta) */
  width: 100%;
  height: 100%;
  padding: 8px;
}
