@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple-reverse {
  from {
    transform: scale(4);
    opacity: 1;
  } to {
    transform: scale(0);
    opacity: 0;
  }
}

.ripple,
.ripple__reverse {
  position: absolute;
  border-radius: 50%;
  background-color: var(--theme-ripple-color);

  pointer-events: none;
}

.ripple {
  transform: scale(0);
  opacity: 0;
  animation: ripple 750ms linear, opacity 750ms linear;
}

.ripple__reverse {
  transform: scale(4);
  animation: ripple-reverse 750ms linear, opacity 750ms linear;
  opacity: 0;
}

/* button ripple */
.custom-button.unelevated:not(:disabled) > .ripple {
  background-color: var(--theme-ripple-on-primary);
}

.custom-button.outlined:not(:disabled) > .ripple {
  background-color: var(--theme-ripple-primary);
}

.custom-button.outlined:not(:disabled).secondary > .ripple {
  background-color: var(--theme-ripple-secondary);
}

/* list ripple */
.custom-list:not(.checklist) .custom-list-item .ripple {
  background-color: var(--theme-ripple-primary);
}

.custom-list:not(.checklist) .custom-list-item.checked .ripple {
  background-color: var(--theme-ripple-primary);
}
