.custom-topappbar {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid var(--theme-border-color);
}

.custom-topappbar > .spacer {
  width: 100%;
}

.custom-topappbar .custom-topappbar-meta {
  width: fit-content;

  display: inline-flex;
  flex-direction: row;
}

.custom-topappbar .custom-topappbar-meta:first-child {
}

.custom-topappbar .custom-topappbar-meta:last-child {
}
