html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--theme-background);
  color: var(--theme-color);
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
}

*:not(.material-icons) {
  font-family: FiraCode !important;
  box-sizing: border-box;
}

a {
  color: var(--theme-link);
}

a:visited {
  color: var(--theme-link--visited);
}
